{% extends 'main.html' %}

{% block content %}
 <!-- Main Section -->
 <main class="home">
  <section class="hero-section text-center">
    <div class="container container--narrow">
      <div class="hero-section__box">
        <h2>CONNECT WITH <span>DEVELOPERS</span></h2>
        <h2>FROM AROUND THE WORLD</h2>
      </div>

      <div class="hero-section__search">
        <form class="form" action="{% url 'profile' %}" method="get">
          <div class="form__field">
            <label for="formInput#search">Search Developers </label>
            <input class="input input--text" id="formInput#search" type="text" name="search_query"
              value="{{ search_query }}" placeholder="Search by developer name" />
          </div>

          <input class="btn btn--sub btn--lg" type="submit" value="Search" />
        </form>
      </div>
    </div>
  </section>
  <!-- Search Result: DevList -->
  <section class="devlist">
    <div class="container">
      <div class="grid grid--three">
        {% for profile in profile_list %}
        <div class="column card">
          <div class="dev">
            <a href="{% url 'indivProfile' profile.id %}" class="card__body">
              <div class="dev__profile">
                <img class="avatar avatar--md" src="{{ profile.imageURL }}" alt="{{ profile.user }}-profile-img" />
                <div class="dev__meta">
                  <h3>{{ profile.name }}</h3>
                  {% if profile.short_intro %}
                  <!-- slice trims the character count to a specified number -->
                  <h5>{{ profile.short_intro|slice:"60" }}</h5>
                  {% endif %}
                </div>
              </div>
              <p class="dev__info">
                {% if profile.bio %}
                  {{ profile.bio|slice:"150" }}
                {% endif %}
              </p>
              <div class="dev__skills">
                <!-- get the child model by calling the model name: In this case, it is "skill" -->
                <!-- _set gives us the objects   -->
                {% for skill in profile.skill_set.all|slice:"5" %}
                <span class="tag tag--pill tag--main">
                  <small>{{ skill.name }}</small>
                </span>
                {% endfor %}
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

{% include 'paginator.html' with list=profile_list custom_range=custom_range %}

{% endblock %}



