{% extends 'main.html' %}
{% block content %}
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">

            <br>
            
            <form class="form" action="" method="POST">
                {% csrf_token %}
                
                {% if object %}
                <p>Are you sure you want to delete the project "{{object}}"?</p>
                {% else %}
                <p>The skill was not found or was already deleted.</p>
                {% endif %}

                <a class="btn btn--sub btn--lg  my-md" href="{% url 'account' %}">Go Back</a>

                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Confirm" />
            </form>
        </div>
    </div>
</main>

{% endblock %}